{% extends 'base.html.twig' %}
{% block meta_description %}{{page.metaDescription}}{% endblock %}
{% block meta_title %}{{page.metaTitle }}{% endblock %}

{% block og_meta_title %}{{page.metaTitle }}{% endblock %}
{% block og_meta_description %}{{page.metaDescription }}{% endblock %}
{% block og_image %}{% if blog_post is not null %}https://uzimahub.co.ke/site/images/blog_images/{{blog_post.featuredImage }}{% endif %}{% endblock %}

{% block page %}

	{% set sortedSections = page.sections|sort((a, b) => a.priority <=> b.priority) %}
    {% if page.pageContent|length > 1 %}
    {% include('sections/variable_banner.html.twig') %}
        {% if page.contentFirst %}
            {% include ('sections/service.html.twig') %}
            {% for section in sortedSections %}	
            {{ include('sections/' ~ section.templatePath) }}
            {% endfor %}
        {% else %}
            {% for section in sortedSections %}	
            {{ include('sections/' ~ section.templatePath) }}
            {% endfor %}
            {% include ('sections/service.html.twig') %}
        {% endif %}
    {% else %}
        {% for section in sortedSections %}
            {{ include('sections/' ~ section.templatePath) }}
        {% endfor %}    
    {% endif %}

{% endblock %}
