{% extends 'base.html.twig' %}
{% block meta_description %}{{page.metaDescription}}{% endblock %}
{% block meta_title %}{{page.metaTitle }}{% endblock %}
{% block page %}

	{% set sortedSections = page.sections|sort((a, b) => a.priority <=> b.priority) %}
    {% include('sections/service_banner.html.twig') %}
    {% if page.contentFirst %}
        {% include ('sections/service.html.twig') %}
        {% for section in sortedSections %}	
        {{ include('sections/' ~ section.templatePath) }}
        {% endfor %}
    {% else %}
        {% for section in sortedSections %}	
        {{ include('sections/' ~ section.templatePath) }}
        {% endfor %}
        {% include ('sections/service.html.twig') %}
    {% endif %}

{% endblock %}
