{% set faqs = global_vars('faqs') %}
<div id="accordion">
    {% for faq in faqs %}
    <div class="card">
        <div class="card-header">
            <a class="{{ loop.index == 1 ? '' : 'collapsed' }} card-link"
                data-toggle="collapse"
                href="#faq{{loop.index}}">
                {{faq.question}}
            </a>
        </div>
        <div id="faq{{loop.index}}"
                class="collapse {{ loop.index == 1 ? 'show' : '' }}"
                data-parent="#accordion">
            <div class="card-body">
                <p>{{ faq.answer|raw|striptags }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>
