    <!-- Footer Start -->
    <footer class="footer-min pt-80">
        <div class="container pb-70">
            <div class="row">
                <div class="col-md-3  pr-30">
                    <div class="footer-cont footer-logo  wow slideInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                        <h3>About Us</h3>
                        <a href="{{ path('app_index') }}" class="img-l-size">
                            <img src="/site/images/uzima-square-logo-transparent-bg_141.png" alt="" />
                        </a>
                        <p>{{seo.metaDescription}}</p>

                    </div>

                </div>
                <div class="col-md-2">
                    <div class="footer-cont footer-logo mt-15  wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <h3>Information</h3>
                        <ul class="menu-footer wi-100">
                            <li><a href="{{path('app_page', {'page': 'about-uzima-well-being-hub' })}}">About</a></li>
                            <li><a href="#">Meet Our Team</a></li>
                            <li><a href="#">Our Portfolio</a></li>
                            <li><a href="{{path('app_page', {'page': 'blog-articles' })}}">Latest News</a></li>
                            <li><a href="{{ path( 'app_page', { 'page': 'contact-uzima-well-being-hub' } ) }}">Contact</a></li>

                        </ul>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="footer-cont footer-logo mt-15  wow slideInUp" data-wow-delay="0ms" data-wow-duration="1800ms">
                        <h3>Helpful</h3>
                        <ul class="menu-footer-con wi-100">
                            <li><span><i class="icon icon-call-in"></i></span> +254 724 780306 </li>
                            <li><span><i class="flaticon flaticon-email-1"></i></span> info@uzimahub.co.ke</li>
                        </ul>
                        <div class="copy-one  wow slideInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                            <ul class="social-t">
                                <li><a href="#" class="facebook-change-co"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#" class="twitter-change-co"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="pinterest-change-co"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" class="linkedin-change-co"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pl-30">
                    <div class="footer-cont footer-logo mt-20 subs  wow slideInUp" data-wow-delay="0ms" data-wow-duration="2000ms">
                        <h4>
                            Get the best natural health<br>
                            tips straight into<br>
                            your inbox!
                        </h4>
                        <div class="news-f1">
                            <div id="resultsubscription">
                                <span class="seccess1" style="color:#ffffff">Mail Sent. Thank you, we will contact you shortly.</span>
                                <span class="error1" style="color:#ffffff">Mail was not Sent.</span>
                            </div>
                             <form id="my-form" action="subscribe.php" method="post" class="row">
                            <input type="text" placeholder="Email" class="fill form-control" name="email">
                            <button class="btn upcase " name="submitnewsletter" type="submit">Subscribe</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="container b-top pb-150">
            <div class="row">

                <div class="col-md-12">
                    <div class="right copy-one  wow slideInUp" data-wow-delay="0ms" data-wow-duration="1600ms">
                        <p>
                            © Copyright {{"now"|date('Y')}} by <a href="#">Uzima Well-being Hub</a>
                        </p>
                        <p>Website designed by <a href="https://joeseo.co.ke/seo/services/nairobi">Joe SEO Consultants Nairobi</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
