{{ form_start(form, {'attr': {'class': 'contact-form', 'action': path('contact_form')}}) }}
    <div class="form-in">
        {{ form_widget(form.name, {'attr': {'class': 'fill-in', 'placeholder': 'Name', 'type': 'text', 'id': 'contact-name', 'data-constraints': '@Required'}}) }}
    </div>
    <div class="form-in">
        {{ form_widget(form.email, {'attr': {'class': 'fill-in', 'placeholder': 'Email', 'type': 'email', 'id': 'contact-email', 'data-constraints': '@Email @Required'}}) }}
    </div>
    <div class="form-in">
        {{ form_widget(form.subject, {'attr': {'class': 'fill-in', 'placeholder': 'Subject', 'type': 'text', 'id': 'contact-email', 'data-constraints': '@Required'}}) }}
    </div>
    <div class="form-in">
        {{ form_widget(form.message, {'attr': {'class': 'fill-in text-m', 'placeholder': 'Message', 'id': 'contact-message', 'rows': '5', 'style': 'min-height:250px;', 'data-constraints': '@Required'}})}}
    </div>
    <div class="form-in">
        <button type="submit" name="submit" class="read-m-we btn-gradient">Send Message</button>
    </div>
{{ form_end(form) }}