    <!-- Scroll-top -->
    <a style="font-size:36px!important" class="scroll-top scroll-to-target" href="https://wa.me/254724780306">
        <i class="fa fa-whatsapp"></i>
    </a>
    <!-- Scroll-top-end-->
    <!-- Header Start -->
    <header class="main-header">
        <div id="sticky-header" class="header-upper">
            <div class="container">
                <div class="clearfix white-bg">
                    <div class="col-md-4 pull-left logo-box">
                        <div class="logo"><a href="{{path('app_index')}}"><img style="height:50px;width:auto;" src="{{asset('site/images/' ~ global_vars('seo').logoPath )}}" alt="Uzima Logo" title="Uzima Well Being Hub"></a></div>
                    </div>
                    <div class="col-md-8 nav-outer clearfix">

                        <!--Mobile Navigation Toggler For Mobile-->
                        <div class="mobile-nav-toggler"><span class="icon flaticon-menu-4"></span></div>

                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md">
                            <div class="navbar-header">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse scroll-nav clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="{{ app.request.attributes.get('_route') == 'app_index' ? 'current' : '' }}"> <a href="{{path( 'app_index' )}}">Home</a></li>
                                    <li class="{{ app.request.attributes.get('page') == 'about-uzima-well-being-hub' ? 'current' : '' }}"> <a href="{{path('app_page', {'page': 'about-uzima-well-being-hub' })}}">About Us</a></li>
                                    {# <li class="">
                                        <a href="{{ path( 'app_page', { 'page': 'our-products' } ) }}">Products</a>
                                    </li> #}
                                    <li  class="{{ app.request.attributes.get('page') == 'our-services' ? 'current' : '' }}">
                                        <a href="{{ path( 'app_page', { 'page': 'our-services' } ) }}">Services</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Pages</a>
                                        <ul>
                                            <li><a href="{{ path('app_page', {'page': 'faq' } ) }}">FAQ</a></li>
                                            <li><a href="{{ path('app_page', {'page': 'uzima-pricing' } ) }}">Pricing</a></li>
                                            <li><a href="{{ path('admin') }}">Connect</a></li>
                                        </ul>
                                    </li>
                                    <li class="{{ app.request.attributes.get('page') == 'blog-articles' ? 'current' : '' }}"> <a href="{{path('app_page', {'page': 'blog-articles' })}}">Blog</a></li>
                                    <li class="{{ app.request.attributes.get('page') == 'contact-uzima-well-being-hub' ? 'current' : '' }}"> <a href="{{ path( 'app_page', { 'page': 'contact-uzima-well-being-hub' } ) }}">Contact Us</a></li>
                                </ul>
                            </div>

                        </nav>
                        <!-- Main Menu End-->

                    </div>



                </div>
            </div>
        </div>
        <!--End Header Upper-->
        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>

            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            <nav class="menu-box">
                <div class="nav-logo"><a href="{{path('app_index')}}"><img src="{{asset('site/images/' ~ global_vars('seo').logoPath )}}" alt="Uzima Logo" title="Uzima Well-being Hub"></a></div>

                <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
            </nav>
        </div><!-- End Mobile Menu -->
    </header>
    <!-- Header End -->
