<a href="{{ path('app_page', {'page': 'contact-uzima-well-being-hub'} ) }}">
    <div class="offer mb-30" style="background-image:url(/site/images/ser-2.png);">
        <h3> {{ content['invite-text'].contentText }} </h3>
    </div>
</a>