    <!-- About Start -->
    <section class="about-sec pb-90">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-i pr-20 wow slideInRight" data-wow-delay="0ms" data-wow-duration="1200ms">
                        <img src="/site/images/about-s.jpg" class="img-fluid" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="min-cont-t pt-40 wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1200ms">
                        <h2 class="sub-bg heading">
                            {{ content['about-us-title'].contentText }}
                        </h2>
                        <p class="pl-50">
                            {{ content['about-us-content'].contentText|nl2br }}
                        </p>
                        <a href="{{path('app_page', {'page': 'about-uzima-well-being-hub' })}}" class="theme-btn btn-style-orange ml-50">
                            {{ content['about-us-cta'].contentText }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About End -->