<!-- Article Start -->
<section class="service-det pt-0 pb-90">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="min-ser">
					<div class="img-s">
						<img src="{{ asset('site/images/blog_images/' ~ blog_post.featuredImage ) }}" alt="" class="img-fluid" />
					</div>
					<div class="ser-con mt-30">
						{{blog_post.content|raw}}
					</div>
					<hr />
					<div class="">
						{% include ('tmp/accordion.html.twig') %}
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="po-s">
					{% include ('tmp/member_invite.html.twig') %}
					<div class="min-service-box">
						<h3 class="heading-l">Categories</h3>
						<div class="list-ser">
							<ul>
							{% for category in blog_post.blogCategories %}
								<li>
									<a href="#">{{ category }}</a>
								</li>
							{% endfor %}									
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- Article End -->