    <!-- Service Start -->
    <section class="blog-sec wh-bg pt-90 pb-90">
        <div class="container">
            <div class="row mb-50">
                <div class="col-md-12">
                    <div class="min-heading wow slideInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                        <h2 class="sub-bg heading center-l">
                            Our BLog Articles
                        </h2>
                        <p>Natural Health Tips From Uzima Well-being Hub</p>
                    </div>
                </div>
            </div>
            <div class="row">
			{% for blog_post in blog_posts|reverse %}
                <div class="col-md-4">
                    <div class="min-blog">
                        <div class="blog-img">
                            <a href="{{path('blog_detail', {'slug': blog_post.slug })}}">
                                <img src="{{ asset('site/images/blog_images/' ~ blog_post.featuredImage ) }}" alt="" />
                            </a>
                        </div>
                        <div class="blog-cont">
							<ul>
								<li><i class="flaticon-date"></i> {{blog_post.publicationDate|date('d, M Y') }}</li>
								<li><i class="flaticon-comment"></i> 
                                {% for category in blog_post.blogCategories %}
                                    {{ category }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                                </li>
							</ul>
                            <h3><a href="{{path('blog_detail', {'slug': blog_post.slug })}}">{{blog_post.title|title}}</a></h3>
                            <p>{{blog_post.content|slice(0,200)|raw}}</p>
                            <a href="{{path('blog_detail', {'slug': blog_post.slug })}}" class="bl-btn">
                                Read More...
                            </a>
                        </div>
                    </div>
                </div>
			{% endfor %}
            </div>  
        </div>
    </section>
    <!-- Service End -->
