    <!-- Contact Address Start -->
    <section class="address pt-90 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="min-add  wow slideInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                        <span class="flaticon flaticon-call"></span>
                        <h4>Phone Number</h4>
                        <ul>
                            <li>{{ content['phone-number'].contentText }}</li>
                            {# <li>+01 123 456 7890</li> #}
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="min-add  wow slideInUp" data-wow-delay="0ms" data-wow-duration="1400ms">
                        <span class="flaticon flaticon-email-1"></span>
                        <h4>Email Address</h4>
                        <ul>
                            <li>{{ content['email-address'].contentText }}</li>
                            {# <li>info@example.com</li> #}
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="min-add  wow slideInUp" data-wow-delay="0ms" data-wow-duration="1600ms">
                        <span class="flaticon flaticon-maps-and-flags"></span>
                        <h4>Address</h4>
                        <ul>
                            <li>{{ content['location'].contentText }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Address End -->
