	<!-- Counter Area Start -->
	<div class="counter-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-6 md-mb-30">
					<div class="counter-item">
						<ul class="d-inline-flex align-items-center">
							<li><i class="flaticon-court"></i>
							</li>
							<li><span class="counter">72</span>
								<p>Case Done</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6">
					<div class="counter-item">
						<ul class="d-inline-flex align-items-center">
							<li><i class="flaticon-presentation"></i>
							</li>
							<li><span class="counter">59</span>
								<p>Happy Client’s</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 sm-mt-30 sm-mb-30">
					<div class="counter-item">
						<ul class="d-inline-flex align-items-center">
							<li><i class="flaticon-law"></i>
							</li>
							<li><span class="counter">42</span>
								<p>Case Dismissed</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6">
					<div class="counter-item">
						<ul class="d-inline-flex align-items-center">
							<li><i class="flaticon-balance"></i>
							</li>
							<li><span class="counter">92</span>
								<p>Charges Dropped</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Counter Area End -->
