    <!-- cta Start -->
    <section class="vide0-bg pt-90 pb-90 mb-90">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="video-p">
                        <h2>{{ content['cta-title'].contentText }}</h2>
                        <p>{{ content['cta-content'].contentText|nl2br }}</p>
                        <p style="margin-top:5px; text-align: center;"><a style="float:none !important;" href="tel:{{ content['phone-number-wa'].contentText }}" class="theme-btn btn-style-orange btn-h-white">{{ content['phone-cta'].contentText }}</a>
                        <a style="margin-top:5px; float:none !important;" href="https://wa.me/{{content['phone-number-wa'].contentText}}" class="theme-btn btn-style-orange btn-h-white">{{ content['whatsapp-cta'].contentText }}</a>
                        <a style="margin-top:5px; float:none !important;" href="{{ path('app_page', {'page': 'contact-uzima-well-being-hub'} ) }}" class="theme-btn btn-style-orange btn-h-white">{{ content['contact-us-cta'].contentText }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cta End -->
