    <!-- Contact Us Start -->
    <section class="Contact-det wh-bg pt-90 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="register-form wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1200ms">
                        <h3>Contact Us</h3>
                        <div id="resultmm">
                            <span class="seccess" style="display: none;">Mail Sent. Thank you, we will contact you shortly.</span>
                            <span class="error" style="display: none;">Mail was not Sent.</span>
                        </div>
                        {{ render(controller('App\\Controller\\IndexController::renderFooterForm')) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="min-img wow slideInRight" data-wow-delay="0ms" data-wow-duration="1200ms">
                        <img src="/site/images/call-g.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us End -->
