    <!--Main Slider-->
    <section class="main-slider subbanner mb-90" style="background-image:url(/site/images/uzima-well-being-hub-banner.jpg)">
         <div class="overlay"></div>
         <div class="po-t text-center">
            <div class="container">
                <h1>{{blog_post.title}}</h1>
                <ul class="pt-10 pb-20">
                    <li><i class="flaticon-user"></i> Posted by <a href="#">{{blog_post.author}}</a>
                    </li>
                    <li><i class="flaticon-date"></i> {{blog_post.publicationDate|date('d, M Y')}}</li>
                    {# <li><i class="flaticon-comment"></i> Comments 3</li> #}
                </ul>
                    {% for category in blog_post.blogCategories %}
                        {{ category }}
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                
                    {# {{blog_post.content|raw}} #}
            </div>
        </div>
    </section>
    <!-- End Main Slider -->
