    <!-- Start Min List Section -->
    <section class="slide-bottom pb-90">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="min-s one-bg wow slideInRight" data-wow-delay="0ms" data-wow-duration="1200ms">
                        <span><img src="/site/images/delivery-truck.png" alt="" /></span>
                        <h3>{{ content['group-service-1-title'].contentText|nl2br }}</h3>
                        <p>{{ content['group-service-1-content'].contentText|nl2br }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="min-s wow slideInUp" data-wow-delay="0ms" data-wow-duration="1400ms">
                        <span><img src="/site/images/w2.png" alt="" /></span>
                        <h3>{{ content['group-service-2-title'].contentText|nl2br }} </h3>
                        <p>{{ content['group-service-2-content'].contentText|nl2br }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="min-s one-bg wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1200ms">
                        <span><img src="/site/images/teams.png" alt="" /></span>
                        <h3>{{ content['group-service-3-title'].contentText|nl2br }}</h3>
                        <p>{{ content['group-service-3-content'].contentText|nl2br }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Min List Section -->
