    <!-- Service Start -->
    <section class="service-det pt-0 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="min-ser">
                        <div class="ser-con">
                            {{page.pageContent|raw}}

                        </div>
                        <hr />
                        <div class="">
                            {% include ('tmp/accordion.html.twig') %}
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="po-s">
					{% include ('tmp/member_invite.html.twig') %}
						<div class="min-service-box">
							<h3 class="heading-l">Other Services</h3>
							<div class="list-ser">
								<ul>
								{% for service in services %}
									<li>
										<a href="{{path('app_service', {'service': service.url})}}">{{service.heading}}</a>
									</li>
								{% endfor %}

								</ul>
							</div>
						</div>
                	</div>
                </div>

            </div>
        </div>
    </section>
    <!-- Service End -->
