	<!--Main Slider-->
    <section class="main-slider subbanner mb-90" style="background-image:url({{asset('site/images/page_images/' ~ page.featuredImage ) }})">
         <div class="overlay"></div>
         <div class="po-t text-center">
            <div class="container">
                <h1>{{page.heading}}</h1>
                <p>{{page.metaDescription}}</p>
            </div>
        </div>
    </section>
    <!-- End Main Slider -->
