    <!-- Service Start -->
    <section class="service-sec pt-90 pb-90">
        <div class="container">
            <div class="row mb-50">
                <div class="col-md-12">
                    <div class="min-heading wow slideInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                        <h2 class="sub-bg heading center-l">
                            Our Services
                        </h2>
                        <p>{{ content['services-homepage-intro'].contentText|nl2br }}</p>
                    </div>
                </div>
            </div>
            <div class="service-carousel owl-carousel owl-theme">
                {% for service in services %}
                <div class="item row">
                    <div class="col-md-5">
                        <div class="service-img">
                            <a href="{{path('app_service', {'service': service.url })}}">
                                <img src="{{ asset('site/images/page_images/' ~ service.featuredImage ) }}" alt="{{service.heading}}" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="con-ser">
                            <h3><a href="{{path('app_service', {'service': service.url })}}">{{service.heading}}</a></h3>
                            <p>{{service.metaDescription}}</p>
                            <a href="{{path('app_service', {'service': service.url })}}" class="theme-btn btn-style-orange">
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </section>
    <!-- Service End -->