    <!--Main Slider-->
    <section class="main-slider subbanner mb-90" style="background-image:url({{asset('site/web_images/' ~ images['slider-image-1'].src ) }})">
         <div class="overlay"></div>
         <div class="po-t text-center">
            <div class="container">
                <h1>{{page.heading}}</h1>
                <p style="margin-bottom:50px;">{{page.metaDescription}}</p>
                <a href="{{ path( 'app_page', { 'page': 'our-services' } ) }}" class="theme-btn btn-style-orange" style="margin-right:0!important;float:none!important;">
                    {{ content['slider-button-cta'].contentText}}
                </a>

            </div>
        </div>
    </section>
    <!-- End Main Slider -->

    {# <!--Main Slider-->
    <section class="main-slider">

        <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
            <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                <ul>

                    <li data-transition="slidingoverlayhorizontal" data-description="Slide Description" data-index="rs-1688" data-slotamount="default" data-thumb="{{asset('site/web_images/' ~ images['slider-image-1'].src ) }}" data-title="Slide Title">
                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{{asset('site/web_images/' ~ images['slider-image-1'].src ) }}">
                        <div class="tp-caption"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-width="['700','900','768','450']"
                             data-whitespace="normal"
                             data-hoffset="['55','75','75','15']"
                             data-voffset="['-20','-98','-80','-80']"
                             data-x="['left','left','left','left']"
                             data-y="['middle','middle','middle','middle']"
                             data-textalign="['top','top','top','top']"
                             data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[150%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <div class="text"><h1 class="sm-h1">{{page.heading}}</h1></div>
                        </div>
                        <div class="tp-caption "
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-width="['700','900','768','450']"
                             data-whitespace="normal"
                             data-hoffset="['55','75','75','15']"
                             data-voffset="['70','-10','20','10']"
                             data-x="['left','left','left','left']"
                             data-y="['middle','middle','middle','middle']"
                             data-textalign="['top','top','top','top']"
                             data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <h2>
                                <span>
                                    {{ content['invite-1'].contentText}}
                                </span>
                            </h2>
                        </div>

                        <div class="tp-caption tp-resizeme"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-whitespace="normal"
                             data-width="['650','900','768','450']"
                             data-hoffset="['55','75','75','15']"
                             data-voffset="['170','110','110','90']"
                             data-x="['left','left','left','left']"
                             data-y="['middle','middle','middle','middle']"
                             data-textalign="['top','top','top','top']"
                             data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'>
                            <!-- Link Box -->
                            <div class="link-box">
                                <a href="{{ path( 'app_page', { 'page': 'our-services' } ) }}" class="theme-btn btn-style-orange">
                                    {{ content['slider-button-cta'].contentText}}
                                </a>

                            </div>
                        </div>

                    </li>

                    <li data-transition="slidingoverlayhorizontal" data-description="Slide Description" data-index="rs-1689" data-slotamount="default" data-thumb="{{asset('site/web_images/' ~ images['slider-image-2'].src ) }}" data-title="Slide Title">
                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{{asset('site/web_images/' ~ images['slider-image-2'].src ) }}">
                        <div class="tp-caption"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-width="['700','900','768','450']"
                             data-whitespace="normal"
                             data-hoffset="['55','75','75','15']"
                             data-voffset="['-20','-98','-80','-80']"
                             data-x="['left','left','left','left']"
                             data-y="['middle','middle','middle','middle']"
                             data-textalign="['top','top','top','top']"
                             data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[150%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <div class="text"><h3 class="sm-h1">{{page.metaTitle}}</h3></div>
                        </div>
                        <div class="tp-caption "
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-width="['700','900','768','450']"
                             data-whitespace="normal"
                             data-hoffset="['55','75','75','15']"
                             data-voffset="['70','-10','20','10']"
                             data-x="['left','left','left','left']"
                             data-y="['middle','middle','middle','middle']"
                             data-textalign="['top','top','top','top']"
                             data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <h2>
                                <span>
                                    {{ content['invite-2'].contentText}}
                                </span>
                            </h2>
                        </div>

                        <div class="tp-caption tp-resizeme"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-whitespace="normal"
                             data-width="['650','900','768','450']"
                             data-hoffset="['55','75','75','15']"
                             data-voffset="['170','110','110','90']"
                             data-x="['left','left','left','left']"
                             data-y="['middle','middle','middle','middle']"
                             data-textalign="['top','top','top','top']"
                             data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'>
                            <!-- Link Box -->
                            <div class="link-box">
                                <a href="{{ path( 'app_page', { 'page': 'our-services' } ) }}" class="theme-btn btn-style-orange">
                                    {{ content['slider-button-cta'].contentText}}
                                </a>

                            </div>
                        </div>

                    </li>

                </ul>
            </div>
        </div>
    </section>
    <!-- End Main Slider --> #}