	<!-- Team Area Start -->
	<div class="team-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12">
					<div class="section-title"> <span class="section-top">// Expert Team</span>
						<h2>{{ content['team-title'].contentText}}</h2>
					</div>
				</div>
			</div>
			<div class="row">
              {% for person in teamMembers %}
				<div class="col-lg-3 col-lg-3 col-md-6 md-mb-30">
					<div class="team-item">
						<div class="team-img">
							<img src="{{ asset('site/images/team_photos/' ~ person.photo ) }}" alt="{{person.name}}">
							<div class="team-social">
								<ul>
									<li><a href="#"><i class="flaticon-facebook-app-symbol"></i></a>
									</li>
									<li><a href="#"><i class="flaticon-twitter"></i></a>
									</li>
									<li><a href="#"><i class="flaticon-instagram"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="team-content">
							<h3>{{person.name}}</h3>
							<p>{{person.title}}</p>
						</div>
					</div>
				</div>
              {% endfor %}
			</div>
		</div>
	</div>
	<!-- Team Area End -->
