    <!-- Testmonials Start -->
    <section class="review pt-90 pb-90">
        <div class="container">
            <div class="row mb-50">
                <div class="col-md-12">
                    <div class="min-heading wow slideInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                        <h2 class="sub-bg heading center-l">
                            Reviews from Our Clients
                        </h2>
                        <p>{{ content['reviews-hp-intro'].contentText|nl2br}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="main-carousel owl-carousel owl-theme">
                {% for testimonial in testimonials %}
                    <div style="height:550px;" class="item h550 wow slideInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                        <div class="slide-test" style="height:100%">
                            <div class="user-name">
                                <span class="icon-s test-i">
                                    <img src="{{ asset('site/images/testimonial_photos/' ~ testimonial.photo ) }}" alt="{{ testimonial.name }}" />
                                </span>
                                <h5>
                                    {{ testimonial.name}}
                                </h5>
                                <h6>{{ testimonial.title }}</h6>
                            </div>
                            <div class="test-dis" style="style:100%">
                                <p>
                                    {{ testimonial.content }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                </div>

            </div>
        </div>
    </section>
    <!-- Testmonials End -->
