<!doctype html>
<html class="no-js" lang="en">
<head>
{% set seo = global_vars('seo') %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% block meta_title %}{{ seo.metaTitle }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{{seo.metaDescription}}{% endblock %}">
	<meta name="keywords" content="{{seo.keywords}}" />
	<meta name="author" content="JoeSEO">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{% block og_meta_title %}{{ seo.metaTitle }}{% endblock %}" />
    <meta property="og:description" content="{% block og_meta_description %}{{seo.metaDescription}}{% endblock %}" />
    <meta property="og:image" content="{% block og_image %}https://uzimahub.co.ke/site/images/uzima-long-logo-transparent-bg-1711435495.png{% endblock %}" />

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="{{ asset('site/css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('site/css/animate.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('site/css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('site/css/line-icons.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('site/css/flaticon.css') }}" type="text/css">

    <link rel="stylesheet" href="{{ asset('site/css/owl.carousel.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('site/css/default.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('site/css/header.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('site/css/footer.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('site/css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('site/css/responsive.css') }}" type="text/css">
    <style>
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    }
    ol p {
        margin-top:20px;
    }
    </style>
</head>
<body>


    {% include ('tmp/header.html.twig') %}
    {% block page %}

    {% endblock %}
    {% include ('tmp/footer.html.twig') %}
    <!-- JS here -->
    <script src="{{ asset('site/js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ asset('site/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('site/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('site/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('site/js/wow.js') }}"></script>
    <script src="{{ asset('site/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('site/js/main.js') }}"></script>

    <script src="{{ asset('site/js/main-slider-script.js') }}"></script>
     <script>
        var x = document.getElementById("resultsubscription");
        var currentLocation1 = window.location;

        //var url_string = "http://localhost/baby/newform.html?seccess=1"; //window.location.href
        var url = new URL(currentLocation1);
        var seccess1 = url.searchParams.get("seccessreq");
        var error1 = url.searchParams.get("failreq");

        if (seccess1 == 1) {
            $(".seccess1").show();
            $(".error1").hide();
        }
        else if (error1 == 1) {
            $(".seccess1").hide();
            $(".error1").show();
        }
        else {
            $(".seccess1").hide();
            $(".error1").hide();
            //document.getElementById("resultmm").style.display = "none";
        }

    </script>
    {% block lower_javascript %}{% endblock %}

</body>
</html>
