@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

body {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0c0c0c;
    font-style: normal;
}
 
p,
li,
a,
button,
span,
h5,
h6 {
    font-family: 'Jost', sans-serif;
}

.img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}
 

a,
.button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

    a:focus,
    .btn:focus,
    .button:focus {
        text-decoration: none;
        outline: none;
        box-shadow: none;
    } 

    button:focus,
    input:focus,
    input:focus,
    textarea,
    textarea:focus {
        outline: 0;
    }

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

h4,
h5,
h6 {
    font-family: 'Jost', sans-serif;
    color: #2c2c2c;
    margin-top: 0px;
    font-style: normal;
    
}

h1,
h2,
h3 {
    font-family: 'Jost', sans-serif;
    margin-top: 0px;
}

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        color: inherit;
    }

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

p {
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    color: #2c2c2c;
    margin-bottom: 15px;
}

hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0;
}

a {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
 
*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #161616;
    font-size: 17px;
    opacity: 1;
}

*::placeholder {
    color: #161616;
    font-size: 17px;
    opacity: 1;
}
/*--------------------------------------------------------------
 * Preloader CSS MS
 *--------------------------------------------------------------
 */

.wp-smart-loader {
    text-indent: -12345px;
}

/*--------------------------------------------------------------
 * Preloader One
 *--------------------------------------------------------------
 */

.smart-loader-one {
    width: 50px;
    height: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    -moz-animation: spinner 700ms infinite linear;
    -ms-animation: spinner 700ms infinite linear;
    -o-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
 * Preloader Two
 *--------------------------------------------------------------
 */

.smart-loader-two {
    position: relative;
    width: 80px;
    height: 80px;
    -webkit-animation: spinner 5s infinite linear;
    animation: spinner 5s infinite linear;
}

    .smart-loader-two span {
        width: 40px;
        height: 40px;
        position: absolute;
        background: red;
        display: block;
        -webkit-animation: spinner-two 1s infinite linear;
        animation: spinner-two 1s infinite linear;
    }

        .smart-loader-two span:nth-child(1) {
            background: #2ecc71;
        }

        .smart-loader-two span:nth-child(2) {
            left: 44px;
            background: #9b59b6;
            -webkit-animation-delay: .2s;
            animation-delay: .2s;
        }

        .smart-loader-two span:nth-child(3) {
            top: 44px;
            background: #3498db;
            -webkit-animation-delay: .4s;
            animation-delay: .4s;
        }

        .smart-loader-two span:nth-child(4) {
            top: 44px;
            left: 44px;
            background: #f1c40f;
            -webkit-animation-delay: .6s;
            animation-delay: .6s;
        }

@-webkit-keyframes spinner-two {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spinner-two {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

/*--------------------------------------------------------------
 * Preloader Three
 *--------------------------------------------------------------
 */

.smart-loader-three {
    position: relative;
}

    .smart-loader-three span {
        display: block;
        bottom: 0px;
        width: 9px;
        height: 5px;
        background: #9b59b6;
        position: absolute;
        -webkit-animation: spinner-three 1.5s infinite ease-in-out;
        animation: spinner-three 1.5s infinite ease-in-out;
    }

        .smart-loader-three span:nth-child(2) {
            left: 11px;
            -webkit-animation-delay: .2s;
            animation-delay: .2s;
        }

        .smart-loader-three span:nth-child(3) {
            left: 22px;
            -webkit-animation-delay: .4s;
            animation-delay: .4s;
        }

        .smart-loader-three span:nth-child(4) {
            left: 33px;
            -webkit-animation-delay: .6s;
            animation-delay: .6s;
        }

        .smart-loader-three span:nth-child(5) {
            left: 44px;
            -webkit-animation-delay: .8s;
            animation-delay: .8s;
        }

@-webkit-keyframes spinner-three {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }

    25% {
        height: 30px;
        transform: translateY(15px);
        background: #3498db;
    }

    50% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }

    100% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
}

@keyframes spinner-three {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }

    25% {
        height: 30px;
        transform: translateY(15px);
        background: #3498db;
    }

    50% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }

    100% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
}

/*--------------------------------------------------------------
 * Preloader Four
 *--------------------------------------------------------------
 */

.smart-loader-four {
    width: 80px;
    height: 80px;
}

    .smart-loader-four .spinner-cube {
        width: 33%;
        height: 33%;
        background-color: #9b59b6;
        float: left;
        -webkit-animation: spinner-four 1.3s infinite ease-in-out;
        animation: spinner-four 1.3s infinite ease-in-out;
    }

    .smart-loader-four .spinner-cube1 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .smart-loader-four .spinner-cube2 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .smart-loader-four .spinner-cube3 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .smart-loader-four .spinner-cube4 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .smart-loader-four .spinner-cube5 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .smart-loader-four .spinner-cube6 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .smart-loader-four .spinner-cube7 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .smart-loader-four .spinner-cube8 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .smart-loader-four .spinner-cube9 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

@-webkit-keyframes spinner-four {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes spinner-four {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

/*--------------------------------------------------------------
 * Preloader Five
 *--------------------------------------------------------------
 */

.smart-loader-five {
    width: 80px;
    height: 80px;
    position: relative;
}

    .smart-loader-five .spinner-cube {
        border: 2px solid transparent;
        float: left;
        width: 50%;
        height: 50%;
        position: relative;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }

        .smart-loader-five .spinner-cube:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #9b59b6;
            -webkit-animation: spinner-five 2.4s infinite linear both;
            animation: spinner-five 2.4s infinite linear both;
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

    .smart-loader-five .spinner-cube-2 {
        -webkit-transform: scale(1.1) rotateZ(90deg);
        transform: scale(1.1) rotateZ(90deg);
    }

    .smart-loader-five .spinner-cube-3 {
        -webkit-transform: scale(1.1) rotateZ(180deg);
        transform: scale(1.1) rotateZ(180deg);
    }

    .smart-loader-five .spinner-cube-4 {
        -webkit-transform: scale(1.1) rotateZ(270deg);
        transform: scale(1.1) rotateZ(270deg);
    }

    .smart-loader-five .spinner-cube-2:before {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .smart-loader-five .spinner-cube-3:before {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

    .smart-loader-five .spinner-cube-4:before {
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
    }

@-webkit-keyframes spinner-five {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes spinner-five {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

/*--------------------------------------------------------------
 * Preloader Six
 *--------------------------------------------------------------
 */

.smart-loader-six {
    width: 70px;
    height: 70px;
    position: relative;
}

    .smart-loader-six .spinner-cube-1,
    .smart-loader-six .spinner-cube-2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #3498db;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-animation: spinner-six 2.0s infinite ease-in-out;
        animation: spinner-six 2.0s infinite ease-in-out;
    }

    .smart-loader-six .spinner-cube-2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

@-webkit-keyframes spinner-six {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes spinner-six {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.smart-page-loader {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fefefe;
    z-index: 100000;
}

.wp-smart-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 10px;
    z-index: 100001;
}


.wp-smart-body {
    visibility: hidden;
}
/*--------------------------------------------------------------
 * Preloader Seven
 *--------------------------------------------------------------
 */
.main-slider h2 {
    position: relative;
    display: block;
    font-size: 34px;
    color: #fff;
    font-weight: 600;
    line-height: 40px;
    z-index: 1;
   
}
.main-slider h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    line-height: 1.14em;
    text-transform: capitalize;
    display: inline-block;
    z-index: 1;
     
}
.main-slider h1 {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    line-height: 1.14em;
    text-transform: capitalize;
    display: inline-block;
    z-index: 1;
     
}
.btn-style-one {
    background: #de8d38;
    display: block;
    float: left;
    border-radius: 8px;
    width: 80px;
    height: 80px;
}
.bootom-box{ position:relative;}
    .bootom-box:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgb(10 10 10 / 73%);
    }

.min-img{ width:100%;}
.theme-btn {
    padding: 15px 25px !important;
    display: inline-block !IMPORTANT;
    float: left;
    margin-right: 20px !IMPORTANT;
    border-radius: 5px;
    text-transform: uppercase;
    
}

.tp-bgimg {
    background-size: cover !important;
    background-position: top !important;
    /* top: 20px !important; */
}
.btn-style-orange {
    background: #ffa300;
    color: #262525;
}
    .btn-style-orange:hover {
        background: #0a4d3c;
        color: #fff;
    }
.btn-style-white {
    background: #fff;
    color: #000;
}
a, div, button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.fullwidthbanner-container .tp-bgimg:before {
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    border: none;
    padding: 0;
    margin: 0;
    z-index: 22;
    /* opacity: 0.5; */
}
.heading-s h5 {
    color: #b76209;
    font-size: 15px;
    margin-bottom: 20px;
}
.heading-s h2{ font-size:39px;}
.service-box {
    background: #fff5eb;
    padding: 3em;
    margin-bottom: 2em;
    border-bottom: 12px solid #ffd2a4;
    padding-bottom: 2em;
}

.img-ser {
    background: #ffd2a4;
    border-radius: 50%;
    padding: 8px;
    width: 70px;
    height: 70px;
    display: block;
    margin-bottom: 20px;
}
    .img-ser img {
        width: 100%;
    }
    .img-ser img {
        transform: scale(1);
        transform-origin: center;
        transform-style: preserve-3d;
        transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
    }


.logo img{ width:48%;}
.copy-one p{ color:#000}
.min-s span img {
    width: 77px;
    margin-bottom: 20px;
}
.one-bg {
    background: #F8F8F8;
}
.min-s{ text-align:center; padding:25px;}
    .min-s h3 {
        color: #0a4d3c;
    }
.sub-bg {
    position: relative;
    padding-left: 50px;
    margin-bottom: 1em;
    color: #0a4d3c;
    font-size: 39px;
    font-weight: 600;
}
    .sub-bg:before {
        content: "";
        position: absolute;
        background-image: url(../images/text-bg.png);
        background-size: cover;
        width: 100px;
        height: 100px;
        left: 0;
        top: -0.7em;
    }
.bg-sky {
    background: #ECF7F9;
}
.min-heading{ text-align:center}
.center-l {
    width: auto;
    display: inline-block;
}
.min-heading p{
    font-weight: 600;
    font-size: 18px;
    color: #464646;
}

.why-sec {
    text-align: center;
}
.icon-s {
    width: 100px;
    height: 100px;
     
    display: inline-block;
    margin-bottom: 30px;
    line-height: 100px;
    border-radius: 50px;position:relative;
}
    .icon-s:before {
        content: "";
        width: 100px;
        height: 100px;
        background: #fff;
        display: inline-block;
        margin-bottom: 30px;
        line-height: 100px;
        border-radius: 50px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 22%);
    }
    .icon-s:after {
        content: "";
        position: absolute;
        width: 120px;
        height: 60px;
        background: #FFC53C;
        left: -10px;
        bottom: -10px;
        border-radius: 0px 0px 100px 100px;
    }

.icon-s img {
    width: 50px;
    position: relative;
    z-index: 2;
}
.why-sec h3 {
    color: #0a4d3c;
    font-size: 22px;
}
.service-img {
    padding: 30px;
    padding-top: 0px;
}
.con-ser {
    background: #F8F8F8;
}
.con-ser {
    background: #F8F8F8;
    display: block;
    float: left;
    padding: 3em;
}
.service-img{ position:relative}
    .service-img:before {
        content: "";
        position: absolute;
        width: 89.9%;
        height: 92%;
        border: 4px solid #0a4d3c;
        bottom: -4%;
        left: 17%; z-index:-1;
    }
.product-con { color:#fff;}
.product-list{ position:relative;}
    .product-list:before {
        content: "";
        position: absolute;
        background: #0a4d3c;
        width: 50%;
        height: 100%;
        top: 0;
        bottom: 0;
    }
.product-con h3{ margin-bottom:20px;}
.product-con p{ color:#fff; margin-bottom:20px;}
.product-list:after {
    content: "";
    position: absolute;
    background-image: url(../images/probg.jpg);
    background-size: cover;
    width: 50%;
    right: 0;
    height: 100%;
    top: 0;
    bottom: 0;
}
.btn-h-white:hover{ background-color:#fff; color:#000;}
.test-i img {
    width: 100px;
    border-radius: 50%;
    padding: 5px;
    height: 100px;
}
.slide-test {
     background: #ECF7F9;
    text-align: center;
    padding: 30px;
}
.user-name h5{ font-size:20px;}
.user-name h6 {
    font-size: 15px;
    font-weight: normal;
    color: #7a7878;
}
.test-dis p {
    display: -webkit-box;     
    -webkit-line-clamp: 5;
    white-space: normal;
}
.owl-item .h550 {
    height:550px !important;
}
.whychoose{ position:relative}
    .whychoose:before {
        content: "";
        position: absolute;
        /* background-image: url(../images/bg2.jpg); */
        background-position: bottom;
        background-size: cover;
        width: 100%;
        height: 350px;
        left: 0;
        right: 0;
        bottom: 0;
    }
.service-carousel .item {
    padding-bottom: 2em;
}

.service-carousel .owl-nav {
    display: block !IMPORTANT; text-align:right;
}
    .service-carousel .owl-nav button {
        width: 40px;
        height: 40px;
        border: 1px solid #000 !IMPORTANT;
        border-radius: 50%;
        margin-left: 15px;
        text-align: center;
        line-height: 40px !IMPORTANT;
    }
        .service-carousel .owl-nav button:hover {
            background: #FFC53C;
            color: #262525;
        }
.vide0-bg {
    background-image: url(../images/video.jpg);
    background-size: cover;
}
.video-p {
    text-align: center;
    background: rgb(115 106 85 / 87%);
    padding: 4em;
    width: 80%;
    margin: auto;
}
.play-i {
    margin-top: 2em;
    justify-content: center;
    display: flex;
}
.video-p h2, .video-p p {
    color: #fff;
}
.play-i span {
    font-size: 41px;
    color: #000;
    background: #fff;
    width: 47px;
    height: 47px;
    display: inline-block;
    line-height: 47px;
    border-radius: 50%;
    box-shadow: 0px 1px 7px 9px #09931f80;
}
.subbanner{ position:relative }
    .subbanner img {
        width: 100%;
        margin-top: -5em;
    }

.po-t {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    color: white;
}
    .po-t h1{ font-size:56px;}
    .po-t p {
        font-size: 19px;
        font-weight: 400;
        color: white;
    }
.card {
    margin-bottom: 20px;
}
.card-header .card-link {
    display: block;
    padding: 15px;
}

.card-header .card-link {
    background: #FFC53C;
    color: #3e3d3d;
}
.card-link.collapsed {
    background: #ECF7F9;
}
.card-header {
    padding: 0px;
    background: #ECF7F9;
}
.offer {
    position: relative;
    padding: 3em;
    background-size: cover;
    text-align: center;
}
.offer h3 {
    position: relative;
}
    .offer:before {
        content: "";
        position: absolute;
        background-color: #ffdb01c2;
        width: 80%;
        height: 71%;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
    }

.list-ser ul li a {
    display: block;
    padding: 10px;
    background: #ECF7F9;
    margin-bottom: 5px;
    border: 1px solid #e9e9e9;
    border-radius: 3px; position:relative;
}
    .list-ser ul li a:before {
        content: "\e606";
        font-family: 'simple-line-icons';
        right: 11px;
        position: absolute;
    }
    .list-ser ul li a:hover {
        background: #FFC53C;
        color: #3e3d3d;
    }
.po-s {
    position: sticky;
    top: 120px;
}
.wh-bg {
    background: #ECF7F9;
}
 .price ins {
    text-decoration: none;
}
.pro-list {
    background: #fff;
    border: 1px solid #e9e9e9;
    padding: 0px;
    margin-bottom: 30px;
}
    .pro-list:hover {
        box-shadow: -1px 3px 10px 1px #00000040;
        margin-top: -10px !important;
    }
.pro-img img {
    width: 100%;
    background: #fdfafa;
}
.pro-img{ padding:10px; position:relative}
.product-d {
    padding: 10px 20px;
    padding-bottom: 20px;
}
    .product-d .star-rating-wap {
        margin-bottom: 10px;
    }
.product-d .star-rating {
    width: 87px;
    margin: 0 auto;
}
.price del {
    color: #888;
    margin-right: 7px;
    font-weight: normal;
}
.product-d .star-rating {
    height: 26px;
    line-height: 20px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 87px;
    letter-spacing: 4px;
    display: inline-block;
    vertical-align: middle;
}
    .product-d .star-rating:before {
        font-size: 12px;
    }

    .product-d .star-rating:before {
        left: 0;
        top: 0;
        font-size: 12px;
        color: #FDA043;
        font-family: 'Font Awesome 5 Free';
        content: "\f005\f005\f005\f005\f005";
    }
.star-rating span {
    overflow: hidden;
    position: absolute;
    text-indent: -999em;
    color: #333;
    padding-top: 1.5em;
    left: 0;
    top: 0;
}
.star-rating-wap .review-count {
    font-size: 14px;
    font-weight: 500;
    margin-left: 14px;
    color: gray;
}
.star-rating span:before {
    left: 0;
    top: 2px;
    position: absolute;
    font-size: 12px;
    text-indent: 0;
    color: #FDA043;
    font-family: 'Font Awesome 5 Free';
    content: "\f005\f005\f005\f005\f005";
    font-weight: 900;
    animation: fadeIn 0.5s both;
    animation-delay: 0.3s;
}
.product-d h3 a {
    font-size: 17px;
}

.line1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}
.line2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}
.line3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}
.line4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}
.po-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #ffbf0a;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}
.off-off {
    position: absolute;
    left: 10px;
    background: #0a4d3c;
    color: #fff;
    font-size: 11px;
    padding: 5px 5px;
    border-radius: 0px 10px 10px 0;
    top: 15px;
}

.sp-quantity {
    width: 124px;
    height: 42px;
    float: left;
}

.sp-minus {
    width: 40px;
    height: 40px;
    border: 1px solid #e1e1e1;
    float: left;
    text-align: center;
}

.sp-input {
    width: 40px;
    height: 40px;
    border: 1px solid #e1e1e1;
    border-left: 0px solid black;
    float: left;
}

.sp-plus {
    width: 40px;
    height: 40px;
    border: 1px solid #e1e1e1;
    border-left: 0px solid #e1e1e1;
    float: left;
    text-align: center;
}

.sp-input input {
    width: 39px;
    height: 38px;
    text-align: center;
    
    border: none;
}

    .sp-input input:focus {
        border: 1px solid #e1e1e1;
        border: none;
    }

.sp-minus a, .sp-plus a {
    display: block;
    width: 100%;
    height: 100%;
     padding-top: 1px;
    font-size: 21px;
}
.single_add_to_cart_button {
    float: right;
    padding: 7px 20px;
    background: #0a4d3c;
    color: #fff;
    cursor: pointer;
}
.single_add_to_cart_button:hover{
    background: #FFC53C; color:#2c2c2c;
}
hr {
    border-bottom: 1px solid #cfcfcf !important;
    border-top: 0 none;
    margin: 20px 0 !important;
    padding: 0;
}
.dt-sc-tabs.dt-sc-list-inline button {
     border-radius: 0px;
}
.tablinks:hover, .tablinks.active {
    background-color: #f4b323;
    color: #292929;
    border: 0;
}
.tablinks {
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    float: none;
    font-size: inherit;
    font-style: normal;
    font-weight: 400;
    padding: 10px 20px !important;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    line-height: var(--DT_Body_Line_Height);
    border-radius: var(--DT_Button_Border_Radius);
    font-weight: 500;
    color: #2a2a2a;
    background-color: #00000000;
    border: 2px solid #2a2a2a !IMPORTANT;
    font-size: 18px;
}
.dt-sc-tabs {
}
.dt-sc-tabs-content {
    border-radius: 0px;
    display: none;
    padding: 30px;
    border: 1px solid #f4f4f4;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.blog-img img{ width:100%;}
.blog-cont h3 a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}
.blog-cont p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.min-blog {
    background: #fff;
    border: 1px solid #e9e9e9;
    padding: 0px;
    margin-bottom: 30px;
}
    .min-blog:hover {
        box-shadow: -1px 3px 10px 1px #00000040;
        margin-top: -10px !important;
    }
.blog-img {
    padding: 10px;
}
.blog-cont {
    padding: 10px 20px;
}
.blog-cont h3 {
    font-size: 20px;
    line-height: 30px;
}
    .blog-cont p {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 0px;
    }
    .blog-cont .bl-btn {
        margin: 20px 0;
        margin-bottom: 10px;
        display: inline-block;
        cursor: pointer;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        float: none;
        font-size: inherit;
        font-style: normal;
        font-weight: 400;
        padding: 10px 20px !important;
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        line-height: var(--DT_Body_Line_Height);
        border-radius: var(--DT_Button_Border_Radius);
        font-weight: 500;
        color: #2a2a2a;
        background-color: #00000000;
        border: 2px solid #2a2a2a !IMPORTANT;
        font-size: 18px;
    }
        .blog-cont .bl-btn:hover, .blog-cont .bl-btn.active {
            background-color: #f4b323;
            color: #292929;
            border: 0;
        }
.register-f {
    background: #F7F8FA;
    padding: 30px;
    position: sticky;
    top: 120px;
}

.form-event h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.form-in .read-m-we {
    margin-bottom: 0px;
    width: 100%;
    border-radius: 5px;
}

.form-in:last-child {
    margin-bottom: 0px;
}

.form-event ul {
    margin-bottom: 25px;
}

    .form-event ul li {
        margin-bottom: 8px;
    }

        .form-event ul li i {
            margin-right: 15px;
        }

.form-in {
    margin-bottom: 25px;
}

.fill-in {
    width: 100%;
    padding: 10px;
    height: 50px;
    border: 1px solid #d7d7d7;
}
.form-in .read-m-we {
    margin-bottom: 0px;
    width: 100%;
    border-radius: 5px;
}

.btn-gradient:hover {
    background: #0a4d3c;
    color: #ffffff;
}
.subbanner {
    position: relative;
    height: 600px;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -8em !important;
}
.btn-gradient {
    color: #2c2c2c;
    cursor: pointer;
    background-size: 200% auto;
    border: none;
    border-radius: 8px;
    background: #f4b323;
    padding: 13px 30px;
    font-size: 18px;
    float: none;
    display: inline-block;
    margin-bottom: 3em;
}
.min-img{ position:relative; text-align:center}
    .min-img img {
        width: 82%;
        margin: auto;
        float: none;
    }
.register-form {
    background: #F7F8FA;
    padding: 30px;
    
}
textarea.fill-in.text-m {
    height: 150px;
}
.min-add {
    text-align: center;
    background: #ffc53c;
    padding: 30px;
}
    .min-add span {
        font-size: 38px;
        font-weight: 500;
        margin-bottom: 13px;
        display: block;
    }

    .min-add h4 {
        font-size: 20px;
        text-transform: uppercase;
        color: #000;
    }

    .min-add ul li {
        font-size: 15px;
        color: #3c3c3c;
    }
    .fullwidthbanner-container .tp-bgimg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    border: none;
    padding: 0;
    margin: 0;
    z-index: 22;
    opacity: 0.5;
    background-color: #000;
}
.po-t-cl-name {
    position: absolute;
    bottom: 50px;
    z-index: 9;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 30px;
}
.po-t-cl-name p{
    color: #fff;
    font-weight: 800;
}
}
.home2{

    opacity:0.5!important ;
}
.min-class-list:hover{
    background-color: blue;
}
.banner-bottom{
    margin-top: -12em;
}
.whychoose2{ position:relative}
    .whychoose2:before {
        content: "";
        position: absolute;
        /* background-image: url(../images/bg2.jpg); */
        background-position: bottom;
        background-size: cover;
        width: 100%;
        height: 350px;
        left: 0;
        right: 0;
        bottom: -50px;
    }

.set > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    background: #161616;
    font-weight: 400;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    font-size: 24px;
}
.set > a.active {
    background: #0a4d3c;
}
.content {
    display: none;
    padding: 20px;
    background: #f8f8f8;
}
.faq-list{
    background-image:url(../images/bb2.png) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sub-bg2{
    position: relative;
    padding-left: 50px;
    margin-bottom: 1em;
    color: #fff;
    font-size: 39px;
    font-weight: 600;
}
    .sub-bg2:before {
        content: "";
        position: absolute;
        background-image: url(../images/text-bg.png);
        background-size: cover;
        width: 100px;
        height: 100px;
        left: 0;
        top: -0.7em;
    }
    .min-heading2{ text-align:center}

.min-heading2 p{
    font-weight: 600;
    font-size: 18px;
    color: #FFF;
}

